<div class="container mt-5">
  <div class="row">
    <div class="col md-6">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Welcome to my contact</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">ini merupakan halaman index</p>
          <a href="./contact" class="card-link">Contact</a>
          <a href="./about" class="card-link">About</a>
        </div>
      </div>
    </div>
  </div>
</div>
